{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/solicitud.css' %}">
<div class="form-container">
    <h2>Registro de solicitudes</h2>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="submit-btn">Finalizar Solicitud</button>
    </form>

    <div class="messages">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
