{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">

    <main class="container py-5">
        <section class="card card-body">
            <h1 class="display-1 text-center">App de registro de reclamos y Solicitudes</h1>
            <p class="fs-5">En nuestro compromiso por mejorar continuamente la calidad de nuestros servicios, hemos habilitado este espacio para que puedas expresar tus inquietudes, sugerencias o reclamos de manera ágil y segura.</p>

            <p class="fs-5">Tu opinión es muy valiosa para nosotros. Cada comentario que recibimos es analizado cuidadosamente con el fin de brindarte soluciones oportunas y fortalecer nuestra atención.</p>

            <p class="fs-5">Gracias por confiar en nosotros y permitirnos crecer contigo.</p>
        </section>
    </main>


{% endblock %}
