body {
    font-family: Arial, sans-serif;
    background-color: #eaf7f5;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.form-container {
    background-color: #ffffff;
    padding: 30px 50px; 
    width: 600px; 
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    text-align: left;
}

form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-fields p {
    margin-bottom: 15px;
}

.form-fields label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-fields input,
.form-fields select,
.form-fields textarea {
    width: 100%; 
    padding: 6px 10px;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 14px;
}

.submit-btn {
    background-color:#3ab397; 
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin: 20px auto 0;
}

.submit-btn:hover {
    background-color: #3ab397; /
}

.messages {
    margin-top: 20px;
    color: green;
}
