body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 60px;
    background-color: #f5f9fc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

h2 {
    margin-bottom: 30px;
    color: #222;
}

.form-container {
    background-color: #ffffff;
    padding: 40px 50px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

form {
    text-align: left;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #888;
    border-radius: 6px;
    font-size: 15px;
    box-sizing: border-box;
}

input:focus, select:focus, textarea:focus {
    outline: none;
    border-color:  #3ab397;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.2);
}

.submit-btn {
    background-color: #3ab397;
    color: white;
    padding: 12px 28px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 17px;
    margin-top: 20px;
    width: 100%;
}

.submit-btn:hover {
    background-color:  #3ab397;
}

.messages {
    margin-top: 20px;
    color: green;
    font-weight: bold;
}
